.pswp__button--play {
  background: url(kbox.png) 0 0 no-repeat;
  background-position: -88px 0; }

.kbox--button--pause {
  background: url(kbox.png) 0 0 no-repeat;
  background-position: -132px 0; }
